<h2>PetMax - Clínica Veterinária</h2>
<form action="/inserir" method="POST">
  <label>Nome: <input type="text" name="nome" required></label><br>
  <label>Tipo: <input type="text" name="tipo" required></label><br>
  <label>Raça: <input type="text" name="raca" required></label><br>
  <label>Nascimento: <input type="date" name="nascimento" required></label><br><br>
  <button type="submit">OK</button>
  <a href="/"><button type="button">Cancelar</button></a>
</form>
